.m_footer
  height 120px
  background url("../images/footer.png") repeat 0 0
  .wrapper
    display table
    width 100%
  .vertical
    display table-cell
    vertical-align middle
  .copyright
    float left
    color #fff
    font-size 16px
  .developed
    float right
    a
      font-light()
      font-size 12px
      color #0a7cb9
      &:hover
        text-decoration underline
        color #fff
