@font-face {
  font-family: 'SegoeUI-Semilight';
  src: url('../fonts/SegoeUI-Semilight.woff') format('woff'),
       url('../fonts/SegoeUI-Semilight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUI-Light';
  src: url('../fonts/SegoeUILight.woff') format('woff'),
       url('../fonts/SegoeUILight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinDisplay-Regular';
  src: url('../fonts/PFDinDisplay.woff') format('woff'),
       url('../fonts/PFDinDisplay.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'PFDinDisplay-Medium';
  src: url('../fonts/PFDinMedium.woff') format('woff'),
       url('../fonts/PFDinMedium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
