$wrapper = 1200px

html
  position relative
  min-height 100%
  height 100%
body
  font-semilight()
  font-size 20px
  line-height 1.2
  background #fff
  min-height 100%
  position relative



.wrapper
  clearfix()
  position relative
  max-width $wrapper
  height 100%
  padding-left 15px
  padding-right 15px
  margin-left auto
  margin-right auto

.container
  clearfix()
  .sidebar
    @media MD
      float right
      width 28%
      margin-left 2%
    @media LG
      width 23%
  .content
    @media MD
      float left
      width 70%
    @media LG
      width 75%