$wrapper = 1200px

html
  position relative
  min-height 100%

body
  font-semilight()
  font-size 20px
  line-height 1.2
  background #fff

main
  display block
  max-width $wrapper
  padding 0 15px
  margin 0 auto
  position relative

.wrapper
  clearfix()
  position relative
  max-width $wrapper
  height 100%
  padding-left 15px
  padding-right 15px
  margin-left auto
  margin-right auto

