// Sprite size
$sprite = 200px 300px

// Custom
$radius = 5px

//Colors
$blue = #0a7cb9

// Media quries
LG = "only screen and (min-width: 1200px)"
MD = "only screen and (min-width: 960px)"
SM = "only screen and (min-width: 768px)"
XS = "only screen and (min-width: 480px)"
