doctype html
html(lang="ru").no-js
  head
    block title
      title ЕЦС - Все для вас и вашего автомобиля
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="msapplication-tap-highlight" content="no")
    link(rel="stylesheet" href="css/plugins.css")
    link(rel="stylesheet" href="css/app.css")
    script(src="js/modernizr.js")
  body
    header.m_header
      .wrapper
        .vertical
          .logo: a(href="#")
            img(class="desktop" src="images/logo.png" alt="")
            img(class="mobile" src="images/logo-mobile.png" alt="")
          .info
            .menu
              ul
                li: a(href="#") Как мы работаем
                li: a(href="#") Наши преимущества
                li: a(href="#") Страховые компании
                li: a(href="#") Отзывы
                li: a(href="#") Контакты
            .contacts
              .tel: a(href="tel:+78126080014") <span>+7 (812)</span> 608-00-14
              .callback: a(class="button-main popup-with-zoom-anim" href="#modal-callback") Заказать звонок
    main
      .wrapper
        .m_breadcrumbs
          ul
            li: a(href="#") Главная
            li: a(href="#") Статьи
            li: a(href="#") Изменения в ОСАГО с апреля 2017 года
        .page-title Изменения в ОСАГО с апреля 2017 года
        .container
          .sidebar
            .m_news-sidebar
              .title Новости в сфере:
              ul
                li: a(href="#") Автострахование
                li: a(href="#") ГосТехОсмотр
            .m_news-sidebar.articles
              .title Новые статьи
              .articles
                - for (var x = 0; x < 3; x++)
                  .item
                    .post-date 16.05.2017
                    .post-title: a(href="#") Изменения в ОСАГО с апреля 2017 года
                    .post-desc ОСАГО - это Обязательное Страхование Автогражданской Ответственности.
          .content
            article
              .post-date 16.05.2017
              img(src="images/aritcle.png" alt="")
              h2 Что такое ОСАГО?
              p ОСАГО - это Обязательное Страхование Автогражданской Ответственности. Что дает наличие обязательного полиса? Любой водитель может причинить своим автомобилем вред или стать виновником аварии. Оплачивать причиненный ущерб, по закону, придется из собственного кошелька. Страховая компания возместит ущерб за Вас: оплатит лечение пассажиров и отремонтирует пострадавший автомобиль. Из наиболее надежных страховщиков в РФ можно выделить Росгосстрах и Ингосстрах.
              h2 Страховой полис ОСАГО
              p <b>Страховые случаи и выплаты</b><br>Страховка оформляется между автовладельцем и страховой компанией, соответственно выплаты и ремонт потерпевшей стороне должны проводить авто страховщик, но закон оговаривает ситуации которые не считаются страховым случаем:
              ul
                li если ДТП произошло во время автогонок;
                li на территории частного предприятия;
                li если был нанесен ущерб зданию.
              p ОСАГО страхует ответственность - возмещает убыток причиненный автомобилем, но не решит все проблемы, которые могут возникнуть с транспортным средством. По КАСКО вы получите возмещение при аварии (не важно кто является виновником происшествия), если на машину упадет дерево или сосулька, если его угонят или просто причинят вред. Представитель страховой компании вызовет эвакуатор, оформит ДТП и возместит ущерб пострадавшим ТС в соответствии с законом.
              p При покупке ОСАГО в нашей компании учитывается коэффицент бонус-малус или КБМ - ваша скидка за безаварийную езду. Этот коэффициент запрашивается в базе РСА. Определяя стоимость ОСАГО, укажите в калькуляторе минимальный стаж безаварийной езды.
              p Не следует, однако, забывать, что базовый вектор развития позволяет оценить значение поставленных обществом задач. Базовый вектор развития играет определяющее значение для прогресса профессионального сообщества. А также непосредственные участники технического прогресса, превозмогая сложившуюся непростую экономическую ситуацию, описаны максимально подробно.
              p С другой стороны, граница обучения кадров способствует повышению качества позиций, занимаемых участниками в отношении поставленных задач. Безусловно, перспективное планирование прекрасно подходит для реализации стандартных подходов. Интерактивные прототипы заблокированы в рамках своих собственных рациональных ограничений. В своем стремлении улучшить пользовательский опыт мы упускаем, что тщательные исследования конкурентов будут указаны как претенденты на роль ключевых факторов!
              p Сплоченность команды профессионалов, в своем классическом представлении, допускает внедрение модели развития. Сложно сказать, почему сделанные на базе интернет-аналитики выводы разоблачены.
      .m_similar-articles
        .wrapper
          .section-title Читайте также
          .list
            .item
              .image: a(href="#"): img(src="images/similar-1.png" alt="")
              .body
                .post-date 16.05.2017
                .post-title: a(href="#") Изменения в ОСАГО с аперял 2017 года
                .post-desc ОСАГО - это Обязательное Страхование Автогражданской Ответственности. Что дает наличие обязательного полиса?
                .details: a(class="ripple" href="#") Подробнее
            .item
              .image: a(href="#"): img(src="images/similar-2.png" alt="")
              .body
                .post-date 16.05.2017
                .post-title: a(href="#") Изменения в ОСАГО с аперял 2017 года
                .post-desc ОСАГО - это Обязательное Страхование Автогражданской Ответственности. Что дает наличие обязательного полиса?
                .details: a(class="ripple" href="#") Подробнее
            .item
              .image: a(href="#"): img(src="images/similar-3.png" alt="")
              .body
                .post-date 16.05.2017
                .post-title: a(href="#") Изменения в ОСАГО с аперял 2017 года
                .post-desc ОСАГО - это Обязательное Страхование Автогражданской Ответственности. Что дает наличие обязательного полиса?
                .details: a(class="ripple" href="#") Подробнее
            .item
              .image: a(href="#"): img(src="images/similar-1.png" alt="")
              .body
                .post-date 16.05.2017
                .post-title: a(href="#") Изменения в ОСАГО с аперял 2017 года
                .post-desc ОСАГО - это Обязательное Страхование Автогражданской Ответственности. Что дает наличие обязательного полиса?
                .details: a(class="ripple" href="#") Подробнее
    footer.m_footer
      .wrapper
        .vertical
          .copyright © 2017 Единый центр страхования
          .developed: a(href="http://pikmedia.ru/" target="_blank") Разработка сайта «Пикмедиа»
    #modal-callback.popup.zoom-anim-dialog.mfp-hide
      .header
        h2 Заказать звонок
        p Мы свяжемся с вами в удобное для вас время
      .body
        form
          .form-row
            .label Как Вас зовут?
            .input
              input(class="form-input" type="text" placeholder="ФИО")
          .form-row
            .label Ваш телефон
            .input
              input(class="form-input mask-tel" type="tel" placeholder="+7 (___) ___-__-__" required)
          .form-row
            .input
              button(class="button-main" type="submit") Отправить заявку
    #modal-video.popup.zoom-anim-dialog.mfp-hide
      .header
        .modal-tabs-nav
          .item: a(class="current" href="#") Название пункта пропуска
          .item: a(href="#") Название пункта пропуска
          .item: a(href="#") Название пункта пропуска
      .body
        .modal-tabs-content
          .item.current
            <iframe width="560" height="315" src="https://www.youtube.com/embed/bglXaMH4ZGY?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
          .item
            <iframe width="560" height="315" src="https://www.youtube.com/embed/sAPFEBYi0q4?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
          .item
            <iframe width="560" height="315" src="https://www.youtube.com/embed/sAPFEBYi0q4?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

    a(id="popup-success-trigger" class="popup-with-zoom-anim" href="#modal-success")
    #modal-success.popup.zoom-anim-dialog.mfp-hide
      .header
        h2 Спасибо за обращение!
      .body
        p Наш менеджер свяжется с Вами в ближайшее время
      .footer
        <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
        <script src="//yastatic.net/share2/share.js"></script>
        .label Мы в соц. сетях
        .socials
          <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir,twitter"></div>
    a(id="popup-total-trigger" class="popup-with-zoom-anim" href="#modal-total")
    #modal-total.popup.zoom-anim-dialog.mfp-hide
      .header
        h2 Отправьте запрос, чтобы узнать итоговую стоимость
        p Мы свяжемся с вами в удобное для вас время
      .body
        form
          .form-header
            .info
              .icon
              ul
                li
                  span.label ОСАГО:
                  span.value 10 000 руб
                li
                  span.label Карта:
                  span.value 1 000 руб
                li
                  span.label Доставка:
                  span.value 0 руб
                li
                  span.label ОСАГО:
                  span.value 11 000 руб
            .additional
              .title Дополнительно
              ul
                li
                  .checked
                    label
                      input(type="checkbox" name="additional")
                      span.cc-icon
                      span.cc-label Заказать диагностическую карту
                li
                  .checked
                    label
                      input(type="checkbox" name="additional")
                      span.cc-icon
                      span.cc-label КАСКО
                li
                  .checked
                    label
                      input(type="checkbox" name="additional")
                      span.cc-icon
                      span.cc-label ОСАГО
                li
                  .checked
                    label
                      input(type="checkbox" name="additional")
                      span.cc-icon
                      span.cc-label Договор
                li
                  .checked
                    label
                      input(type="checkbox" name="additional")
                      span.cc-icon
                      span.cc-label Зеленая карта
                li
                  .checked
                    label
                      input(type="checkbox" name="additional")
                      span.cc-icon
                      span.cc-label Проверка постановки на учет
          .form-row
            .label Как Вас зовут?
            .input
              input(class="form-input" type="text" placeholder="ФИО")
          .form-row
            .label Ваш телефон
            .input
              input(class="form-input mask-tel" type="tel" placeholder="+7 (___) ___-__-__" required)
          .form-row
            .label Ваш email
            .input
              input(class="form-input" type="email" placeholder="")
          .form-row
            .input
              button(class="button-main" type="submit") Отправить заявку
    // Javascript
    script(src="js/jquery.min.js")
    script(src="js/plugins.js")
    script(src="js/app.js")
