.select2-dropdown
  border none
.select2-results__option
  padding 15px 15px
  font-size 20px
  line-height 1
.select2-container--open .select2-dropdown--below
  box-shadow 0px 5px 10px -5px rgba(0,0,0,.5)
.select2-container--open .select2-dropdown--above
  box-shadow 0px -5px 10px -5px rgba(0,0,0,.5)