doctype html
html(lang="ru").no-js
  head
    block title
      title ЕЦС - Все для вас и вашего автомобиля
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="msapplication-tap-highlight" content="no")
    link(rel="stylesheet" href="css/plugins.css")
    link(rel="stylesheet" href="css/app.css")
    script(src="js/modernizr.js")
  body
    header.m_header header
    // Javascript
    script(src="js/jquery.min.js")
    script(src="js/plugins.js")
    script(src="js/app.js")